// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table {
	width: 100%;
}

th {
	margin: 0;
}

td {
	margin:0;
}

.true {
	background: green;
}

.false {
	background: red;
}

.role {
	background: #00c3ff;
}

.line:hover {
	background:grey;
}